
/* =========================================
FEATURES
============================================ */


.features{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features__item{
  position: relative;
  width: 25%;
  @media (max-width: 950px){
    width: 30%;
  }
  }

.features__caption{
  position: absolute;
  bottom: 5%;
  left: -10%;
}

.features__caption h3{
		font-weight: 700;
		background: white;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    @include mq(xl){
      font-size: 2rem;
    }
    @include mq(med){
      font-size: 1.8rem;
    }
}

.features__item-2 img{
  outline: 5px solid white;
  outline-offset: -20px;
}
.features__item-1::before,
.features__item-2::before,
.features__item-3::before{
  content:"-- Unique Novelties";
  position:absolute;
  transform: rotate(-90deg) translate(-80%, -500%);
  color: $dark-grey;
  font-size: 1.6rem;
  font-family: $Montserrat;
  @media(max-width:1160px){
    font-size: 1.4rem;
  }
  @media(max-width: 1000px){
    display: none;
  }
}

@include mq(sm){
  .features{
    flex-direction: column;
  }
  .features__item{
    width: 95%;
    height: 110px;
    padding-top: 5px;
    overflow:hidden;
  }
  .features__item img{
    object-fit: cover;
    outline: none;
}
  .features__caption{
    z-index: 9;
    left: 10%;
  }
  .features__caption h3{
    padding: 5px;
  }

  .features__item-1{
    object-position: 0 -150px;
    
  }
    .features__item-3{
    object-position: 0 -180px;
  }


}
