/* =========================================
FOOTER
============================================ */

.footer__main{
  background: $dark-grey;
}

.footer__lower{
  background: #444;
}

.footer__content{
	display: flex;
	flex-flow: row wrap;
}

.footer__content__item{
	width: 23%;
	margin: 10px 1% 20px;

	@include mq(med){
		width: calc(50% - 40px);
		margin: 20px;
	}

	@include mq(sm){
		width: 90%;
		margin: 5%;
		text-align: center;

	}
}

// typography

.footer__header{
	text-transform: uppercase;
	color: $accent;
	text-align: left;
	margin:40px 0;

	@include mq(med){
		margin: 10px 0 20px;;
		text-align: center;

	}
}

.footer__content p,
.footer__content,
.footer__social-media,
.footer__disclaimer{
	color: white;
	font-size: 1.4rem;
	line-height: 2;
	font-family: $Montserrat;
}



/* ------------  CONTACT  ------------ */

.footer__contact__text:first-child{
	margin-bottom: 30px;
}

/* ------------  TAGS  ------------ */

.footer__tag{
  border: 1px solid $med-grey;
	padding: 5px;
	display: inline-block;
	margin: 5px;
	font-size: 1.4rem;
}

.footer__tag:hover{
  border: 1px solid $accent;
}

/* ------------  INSTAGRAM  ------------ */

.footer__content__instagram__container{
	display: flex;
	flex-flow: row wrap;
	img{
		width: calc(33.33% - 20px);
		height: 100%;
		margin: 10px;
	}
	img:nth-child(3n-5){
		margin-left:0
	}
}


/* ------------  NEWSLETTER  ------------ */

form input{
	background: $dark-grey;
	color: white;
	border: 1px solid $light-grey;
	font-size: 1.4rem;
	padding: 5px;
	margin-bottom: 15px;
	font-family: $Montserrat;
	display: inline-block;
		&:focus{
		outline: 1px solid $accent;
	}
	@include mq(med){
		text-align: center;
		padding: 10px;
	}
}

form input[type="email"]{
	width: 66.66%;
	@include mq(med){
		width: 100%
	}
}

@include mq(med){
	input[type="submit"]{
		width: 100%;
	}
	label{
		text-align: center;
	}
}


/* ------------  SOCIALS  ------------ */

.footer__social-media{
	@include centerXY;
  flex-flow: column nowrap;
}

.footer__social-media--links{
		@include centerXY;
		a{
		text-align: center;
		padding: 10px;
		min-width: 100px;
		margin: 0 20px;
		display: inline-block;
		border-radius: 30px;
		border: 1px solid transparent;
		transition: all .3s ease-in;
		}
		a:hover{
			border-radius: 30px;
			border: 1px solid $accent;
			color: $accent;
			}
		
		@include mq(med){
			flex-flow: row wrap;
			margin:20px 0;
		}
  }


/* ------------  DISCLAIMER  ------------ */

.footer__disclaimer{
  padding: 30px;
  display: flex;
	justify-content:space-around;
	align-items: center;
    &__links{
		display:flex;
		text-align:center;
		& a{
			margin: 0 20px;
		}
		& a:hover{
			color: $accent;
		}
	}

	@include mq(med){
		flex-direction: column-reverse;
	}
}

@include mq(sm){
	.footer__disclaimer__links{
		font-size: 1.2rem;
		& a{
			margin: 0 10px;
		}
	}
}