/* =========================================
HEADER
============================================ */

/* ------------  NAV STYLES ------------ */

.header-nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  &__nav{
    display:flex;
    li a{
      // padding: 10 10px;
    }
  }
  .fa-chevron-down{
    font-size: 1.2rem;
  }
}


@include mq(sm){
.header-nav{
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  }
.header__options--languages{
  display: none;
  }
}

.header-logo{
  width: 20vw;
  max-width: 200px;
  height: auto;
} 

.active__page,
.header-nav__nav a:hover
{
  border-bottom: 2px solid $accent;
}

.header__options{
  display: flex;
  @include centerXY;
  &--languages li{
    @include centerXY;
    img{
      margin-right: 10px;
      margin-top: 4px;
      height: auto;
      min-width: 20px;
    }
  }
  @include mq(lg){
    flex-direction: column;
  }
}

.header__options--languages--drop-down{
  display:none;
}

.header__options--languages li:hover .header__option--languages{
  display:block;
}

.header__options--icons{
  display:flex;
  align-items: flex;
}



/* ------------  HERO  ------------ */


.hero{
  padding-left: 13%;
  position: relative;
  @include mq(med){
    padding: 0;
  }
}

.hero-date{
  @include mq(med){
    display:none;
  }
}

.header__hero__image-container{
  width: 63%;
  position: relative;
  margin-left: auto;
  @include mq(med){
    width: 100%;
    margin: 0 auto;
  }

}

.header__hero--background{
  position: absolute;
  bottom: 0px;
  left: 10%;
}

.header__hero__heading{
  position: absolute;
  z-index: 9;
  left: 16%;
  @include mq(med){
    left: 5%;
  }
}

.slider-arrows--light{
position: absolute;
bottom: 0;
right: 0;
background: white;
display:flex;

@include mq(med){
  display:none;
}
}

.light--arrow{
  font-size: 1.6rem;
  @include centerXY;
  padding: 30px 40px;
  @include mq(xl){
    padding: 10px 15px;
  }
}

.light--arrow--right{
  color: $med-grey;
}

.light--arrow--left{
  color: $accent;
}

.header__hero--hamburger{
  position: absolute;
  bottom:0;
  left: 10%;
  @include mq(xl){
    left: 2%;
  }
  @include mq(med){
    bottom: -40px;
  }
}
