/* =========================================
TYPOGRAPHY STYLES
============================================ */
$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6{
	font-family: $Montserrat;
	color: $dark-grey;
}

h1{
  font-size: 8.0rem;
}

h2{
	font-size: 3.0rem;
	@include mq(med){
		margin-bottom: 15px;
	}
}

h3{
  font-size: 2.8rem;
}

h4{
  font-size: 2.0rem;
}

h5{
  font-size: 1.6rem;
}

p{
  font-size: 1.6rem;
	font-family: $Roboto;
	color: $light-grey;
	line-height: 1.7;
}

/* ------------  SECTION STYLES  ------------ */

/* ------------  HEADER  ------------ */

.header-nav ul li{
	font-size: 2.2rem;
	font-family: $Montserrat;
	color: $dark-grey;
	// padding: 0 10px;
	@include mq(xl){
		font-size: 1.6rem;
		padding-bottom: 10px;
		margin: 0 10px;
	}
	@include mq(lg){
		font-size: 1.4rem;
		margin: px 15px;
	}
}

#hero__sub-text{
    font-family: $Roboto;
    color: $light-grey;
		font-weight: 300;
		@include mq(xl){
			color: $dark-grey;
		}
		@include mq(med){
			margin: 15px 0;
		}
		@media(max-width: 525px){
			display: none;
		}
}

#hero__headline{
	margin-top: 0;
	border: 1px solid pink;
	@include mq(lg){
		margin: 15px 0;
	}
		@include mq(med){
		color: white;
		font-size: 7.0rem;
	}
	@include mq(sm){
		font-size: 6.0rem;
		margin-bottom: 40px;
	}
	@media(max-width: 525px){
		font-size: 5.0rem;
		margin-bottom: 20px;
		margin-top: 10px;
	}
}


.header__hero--background-text{
	font-family: $Montserrat;
	font-size: 25vw;
	font-weight: 500;
	color:rgba(170, 170, 170, 0.3s);

	@include mq(med){
		display:none;
	}
}


/* ------------  FEATURES  ------------ */



/* ------------  MAIN  ------------ */


// PRODUCTS


.products__header__desc{
	color: $med-grey;
}

.products--btns{
	font-family: $Roboto;
	font-size: 1.6rem;
	color: $dark-grey;
		& > {
		margin: 0 5px;
	}
}
.products--btns--next{
	color: $light-grey;
}

.products__item__info{
		&--name{
			color: #555;
			font-size: 1.3rem;
			line-height: 1.5;
			font-family: $Roboto;
			margin: 15px 0 10px;

			@include mq(lg){
				font-size: 1.3rem;
			}

			@include mq(med){
				font-size: 1.2rem;
				}
			}
		&--category{
			color: $light-grey;
			font-weight: 300;
			font-size: 1.3rem;
			margin: 0 0 15px;

			@include mq(med){
				font-size: 1.2rem;
			}
			}

		&--price{
			color: $dark-grey;
			font-size: 1.6rem;
			font-family: $Montserrat;
			@include mq(med){
			font-size: 1.2rem;
			}
			}
		&--fullprice{
			text-decoration: line-through;
			margin-left: 20px;
			display: inline-block;
			color: $light-grey;
		}

}

// BANNER

@include mq(med){

	.banner h2{
		margin-top: 0;
	}
	.banner h2, .banner p{
		color: white;
		text-shadow: 2px 2px 2px $dark-grey;
	}
	.banner__button{
		background: $accent;
	}
}


// BLOG

.blog__post--category{
	text-transform: uppercase;
	font-size: 1.2rem;
}

.blog__post--info{
	font-size: 1.4rem;
}


/* ------------  CTA ------------ */




/* ------------  FOOTER  ------------ */

