/* =========================================
UTILITIES
============================================ */



/* ------------  BUTTONS  ------------ */

.button{
  font-size: 1.6rem;
  font-family: $Montserrat;
  padding: 15px;
  border-radius: 30px;
  min-width: 182px;
  display: inline-block;
  text-align: center;
  transition: all .3s ease-in;
}

.button:hover{
  box-shadow: 2px 2px 4px rgba(68,68,68,.5);
}

.button--header{
  background-color: $accent;
  border: 1px solid $accent;
  color: white;

}

.cta__button,
.banner__button{
  transition: background .3s ease-in;
}

.cta__button:hover,
.banner__button:hover{
  background: $accent;
  color: $dark-grey;
  border: 1px solid $accent;

}

/* ------------  SLIDER BUTTONS  ------------ */

//LIGHT SLIDER BUTTONS IN HERO AND BLOG POST

.slider-arrows--light{
position: absolute;
bottom: 0;
right: 0;
background: white;
display:flex;

@include mq(med){
  display:none;
}
}

.light--arrow{
  font-size: 1.6rem;
  @include centerXY;
  padding: 30px 40px;
  @include mq(xl){
    padding: 10px 15px;
  }
}

.light--arrow--right{
  color: $med-grey;
}

.light--arrow--left{
  color: $accent;
}