/* =========================================
VARIABLES & MIXINS
============================================ */


/* ------------  COLORS  ------------ */

$accent: #d4bd52;   

$dark-grey:#333;
$med-grey:#888;
$light-grey: #aaa;


@mixin centerXY(){
  display:flex;
  justify-content: center;
  align-items: center;
}

/* ------------  RESPONSIVE MIXINS  ------------ */

/* ------------  So here I made variables for the various widths of my most common breakpoints. I then created mixins that would be triggered by keywords ('sm', 'med') passed as arguments in the SCSS files, which would be triggered by if/else conditions to spit out different blocks of code with the variables inserted inside. thanks to Tom Haxell for suggesting I dive deep into SCSS during the month between part-time and boot-camp! ------------ */

// Breakpoints 

$sm: 600px;
$med: 800px;
$lg: 960px;
$xl: 1200px;


// Media Queries

@mixin mq($break){
    @if $break == 'sm'{
		@media(max-width: $sm){
		@content;
			}
  } 
    @else if $break == 'med'{
		@media(max-width: $med){
		@content;
	}
    } 
    @else if $break == 'lg'{
		@media(max-width: $lg){
		@content;
			}
    }
    @else if $break == 'xl'{
		@media(max-width: $xl){
		@content;
			}
		}
}