@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";


/* =========================================
BASE STYLES
============================================ */

//Index

// Header
//  - nav
//  - hero
// Features
// Main
// - top-products
// - banner
// - onsale-products
// - ourBlog
// Footer-features
// Footer
// - footer-content
// - footer-socials
// - footer-disclaimer


body{
  background: white;
}

html{
	font-size: 62.5%;
}

img{
	display: block;
	max-width: 100%;
}

.wrapper{
  max-width: 1920px;
}



.image-container--with-buttons{

}

/* =========================================
HEADER
============================================ */


/* ------------  HEADER NAV  ------------ */

/* ------------  HEADER HERO  ------------ */


