@import "setup";
@import "variables-mixins";
@import "typography";
@import "utils";

/* =========================================
BASE STYLES
============================================ */

//Index

// Header
//  - nav
//  - hero
// Features
// Main
// - top-products
// - banner
// - onsale-products
// - ourBlog
// CTA
// Footer
// - footer-content
// - footer-socials
// - footer-disclaimer


body{
  background: white;
}

html{
	font-size: 62.5%;
}

img{
	display: block;
	max-width: 100%;
}

a, 
a:visited{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;

}

/* ------------  WRAPPERS  ------------ */



.wrapper{
  max-width: 1920px;
  margin: 0 auto;
  
  @include mq(xl){
    max-width: 1400px;
  }
}

.inner-wrapper{
  width: 95%;
  margin: 0 auto;
}

.main-wrapper{
	width: 60%;
  margin: 0 auto;
  @include mq(xl){
    width: 85%;
  }
  @include mq(med){
    width: 90%;
  }
}

@include mq(sm){
.main-wrapper,
.inner-wrapper{
  width: 95%;
}
}


/* =========================================
HEADER
============================================ */

@import "components/header";

/* =========================================
MAIN CONTENT
============================================ */

@import "components/features";
@import "components/main";

/* =========================================
CALL TO ACTION
============================================ */

@import "components/cta";

/* =========================================
FOOTER
============================================ */

@import "components/footer";